.contentCard {
  flex: 1;
  overflow-y: auto;
  background-color: var(--bp-palette-white);
  border-radius: var(--bp-border-radius);
  box-shadow: var(--bp-elevation-shadow-1);
}

:global(.bp6-dark) .contentCard {
  background-color: var(--bp-palette-dark-gray-4);
}
