.layout {
  display: grid;
  grid-template-columns: 240px 1fr 200px;
  max-width: 1500px;
  margin: 0 auto;
}

.sidebar {
  position: sticky;
  top: 50px;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  align-self: start;
  padding: 16px 12px;
  border-right: 1px solid var(--bp-divider-color);
}

.center {
  min-width: 0;
  margin: 15px;
}

.toc {
  position: sticky;
  top: 50px;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  align-self: start;
  padding: 16px 12px;
  border-left: 1px solid var(--bp-divider-color);
}

@media (width <= 1024px) {
  .layout {
    grid-template-columns: 240px 1fr;
  }

  .toc {
    display: none;
  }
}

@media (width <= 768px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none;
  }
}
