.card {
  padding: 1.25rem;
  height: 100%;
  cursor: pointer;
}

.description {
  color: var(--bp-typography-color-default-disabled);
  font-size: var(--bp-typography-size-body-medium);
  margin-bottom: 0.75rem;
  line-height: 1.5;
}

.meta {
  color: var(--bp-typography-color-muted);
  font-size: var(--bp-typography-size-body-small);
}
